TODO: first, rewrite the ops in `preprocessing` as a scrit, and avoid the d'oh below of writing CSV files lol.

### seven, generating building frontages from street segments x blocks

In [2]:
import pandas as pd

In [3]:
building_block_matches = pd.read_csv("../data/processed/buildings.csv", index_col=0)
building_block_matches.head()

,index,sf16_BldgID,Area_ID,sf_MBLR,P2010mass_Z_MinN88ft,P2010mass_Z_MaxN88ft,gnd_cells50cm,gnd_MINcm,gnd_MAXcm,gnd_RANGEcm,...,intptlat10,blockce10,awater10,funcstat10,aland10,geoid10,tractce10,intptlon10,ur10,countyfp10
0,0,201006.000000,1,SF4570025,16.3249,66.2671,178250,507,704,197,...,37.740676,1134,0,S,210383,60759809001134,980900,-122.380907,NaN,75
2,4,201006.000001,5,SF9900015,9.1163,57.9121,102761,81,422,341,...,37.802684,1001,0,S,116249,60750105001001,10500,-122.399059,NaN,75
3,5,201006.000001,6,SF3551001,21.7563,53.5712,99724,575,718,143,...,37.766192,2040,0,S,35142,60750177002040,17700,-122.414284,NaN,75
4,6,201006.000001,7,SM005071310,28.2835,103.4606,93580,883,1311,428,...,37.709163,1007,0,S,83992,60750264031007,26403,-122.409764,NaN,75
5,7,201006.000001,8,SF4304002,7.9096,69.1076,91973,236,400,164,...,37.750608,1002,0,S,441831,60759809001002,980900,-122.381505,NaN,75

In [5]:
blockfaces = pd.read_csv("../data/processed/blockfaces.csv", index_col=0)
blockfaces.head()

,geoid10,geoid10_n,geometry,simplified_geometry
0,60750213002002,060750213002002_1,"LINESTRING (-122.440616 37.750902, -122.440459...","LINESTRING (-122.440616 37.750902, -122.440459..."
1,60750213002002,060750213002002_2,"LINESTRING (-122.440459 37.749301, -122.441538...","LINESTRING (-122.440459 37.749301, -122.441538..."
2,60750213002002,060750213002002_3,"LINESTRING (-122.441538 37.74923100000001, -12...","LINESTRING (-122.441538 37.74923100000001, -12..."
3,60750213002002,060750213002002_4,"LINESTRING (-122.441687 37.75083600000001, -12...","LINESTRING (-122.441687 37.75083600000001, -12..."
0,60750213002000,060750213002000_1,"LINESTRING (-122.438397 37.750226, -122.43832 ...","LINESTRING (-122.438397 37.750226, -122.43832 ..."

In [10]:
from shapely.geometry import LineString

blockfaces.geometry.iloc[0]

'LINESTRING (-122.440616 37.750902, -122.440459 37.749301)'

### eight, projecting street frontage zones onto the street segments?